{% extends "@FOSUser/layout.html.twig" %}

{%  block title %} Modification mdp {{ parent() }} {% endblock %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
        </div>
    </div>
</div>
{% endblock fos_user_content %}