{% extends "@FOSUser/layout.html.twig" %}

{%  block title %} Connexion {{ parent() }} {% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Se connecter</h1>
                {{ include('@FOSUser/Security/login_content.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
