{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
{{ form_errors(form) }}
{{ form_row(form.email)  }}
{{ form_row(form.username)  }}
{{ form_row(form.firstname)  }}
{{ form_row(form.lastname)  }}
{{ form_row(form.birthday)  }}
{{ form_row(form.image)  }}
{{ form_row(form.current_password)  }}
{{ form_row(form.recaptcha)  }}
{{ form_row(form.submit)  }}
{{ form_end(form) }}
