{% extends "@FOSUser/layout.html.twig" %}
{%  block title %} Inscription {{ parent() }} {% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>S'inscrire</h1>
                {% include "@FOSUser/Registration/register_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
