{% for article in articles %}
    <div id="{{ article.id }}" class="row article">
        <div class="col-12">
            <div class="content-wrap">
                <header class="entry-header">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-outline-warning" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_article_edit', {'id': article.id}) }}{{ "'" }});"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_article_delete', {'id': article.id}) }}{{ "'" }});"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="posted-date">
                        {{ article.date|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y')  }}
                    </div><!-- .posted-date -->

                    <h2 class="entry-title">{{ article.title }}</h2>

                    {% if article.tags %}
                        <div class="tags-links">
                            {% for tag in article.tags %}
                                <a href="#">#{{ tag }}</a>
                            {% endfor %}
                        </div><!-- .tags-links -->
                    {% endif %}
                </header><!-- .entry-header -->

                <figure class="featured-image">
                    <img src="{{ article.image }}" alt="imgArticle">
                </figure><!-- .featured-image -->

                <div class="entry-content">
                    {% autoescape false %}
                    {{ article.content[:150]|striptags ~ ' ...'  }}
                    {% endautoescape %}
                </div><!-- .entry-content -->
                <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                    <a class="read-more order-2" href="{{ path("app_article_show", {'id': article.id}) }}">Lire plus</a>
                </footer><!-- .entry-footer -->
            </div><!-- .content-wrap -->
        </div><!-- .col -->
    </div><!-- .row -->
{% endfor %}