<div class=" single-page articles">
    <br/>
    <div class="row">
        <div class="col-12">
            {% if is_granted('ROLE_ADMIN') %}
                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#modal" onclick="btnCRUD({{ "'" }}{{ path('app_article_new') }}{{ "'" }});"><i class="fa fa-plus"></i></button>
            {% endif %}
            {% if articles|length > 0 %}
                {{ include('front/article_liste.html.twig') }}
            {% else %}
                <div> Aucun article à afficher </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="loader" class="row" style="display: none;">
        <div class="col-12">
            <img class="mx-auto d-block" src="{{ asset('assets/images/loader/Ellipsis-1.5s-64px.gif') }}" alt="ajaxLoader"/>
        </div>
</div>