{% extends "base.html.twig" %}
{%  block title %} Books {{ parent() }} {% endblock %}
{% block body %}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Les livres
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_book_manage') }}"><button class="btn btn-outline-warning pull-right">Modifier <i class="fa fa-edit"></i></button></a>
                {% endif %}
                </h1>
                <table id="dtBooks" class="table table-hover">
                    <thead class="thead-dark">
                    <tr><th>#</th><th>Titre</th><th>Auteur</th><th>Résumé</th><th>Catégorie</th><th>Page</th><th>Note</th></tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <td><img src="{{ asset(book.image) }}" class="img-thumbnail img-book" alt="imgBook"></td>
                            <td>{{ book.title }}</td>
                            <td> {{ book.author.name }}</td>
                            <td> {{ book.abstract }}</td>
                            <td> {{ book.bookCategory.libelle }}</td>
                            <td> {{ book.page }}</td>
                            <td>
                                <div style="white-space: nowrap">
                                {% for i in 1..5 %}
                                    {% if book.rate >= i %}
                                        <i class="fa fa-star"></i>
                                    {% else %}
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                {% endfor %}
                                </div>
                                <div class="text-hide">{{ book.rate }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#dtBooks').DataTable({
                paging: false,
                "bInfo" : false
            });
        });
    </script>
{% endblock %}