{% extends "base.html.twig" %}
{%  block title %} Gestion des livres {{ parent() }} {% endblock %}
{% block body %}
    <div class="container-fluid">

        <!-- Book -->
        <div class="row">
            <div class="col-12">
                <h3>Livres : <button class="btn btn-outline-primary pull-right" data-toggle="modal" data-target="#modal" onclick="btnCRUD({{ "'" }}{{ path('app_book_new') }}{{ "'" }});"><i class="fa fa-plus"></i></button></h3>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr><th>Titre</th><th>Auteur</th><th>Catégorie</th><th>Page</th><th>Note</th><th>Actions</th></tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author.name }}</td>
                                <td> {{ book.bookCategory.libelle }}</td>
                                <td> {{ book.page }}</td>
                                <td> {{ book.rate }}</td>
                                <td>
                                    <button class="btn btn-outline-warning" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_book_edit', {'id': book.id}) }}{{ "'" }});"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_book_delete', {'id': book.id}) }}{{ "'" }});"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Author -->
        <div class="row">
            <div class="col-6">
                <h3>Auteurs : <button class="btn btn-outline-primary pull-right" data-toggle="modal" data-target="#modal" onclick="btnCRUD({{ "'" }}{{ path('app_author_new') }}{{ "'" }});"><i class="fa fa-plus"></i></button></h3>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr><th>#</th><th>Nom</th><th>Actions</th></tr>
                    </thead>
                    <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>{{ author.id }}</td>
                            <td>{{ author.name }}</td>
                            <td>
                                <button class="btn btn-outline-warning" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_author_edit', {'id': author.id}) }}{{ "'" }});"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_author_delete', {'id': author.id}) }}{{ "'" }});"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Category -->
            <div class="col-6">
                <h3>Catégories : <button class="btn btn-outline-primary pull-right" data-toggle="modal" data-target="#modal" onclick="btnCRUD({{ "'" }}{{ path('app_bookcategory_new') }}{{ "'" }});"><i class="fa fa-plus"></i></button></h3>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr><th>#</th><th>Libellé</th><th>Actions</th></tr>
                    </thead>
                    <tbody>
                    {% for category in categorys %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.libelle }}</td>
                            <td>
                                <button class="btn btn-outline-warning" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_bookcategory_edit', {'id': category.id}) }}{{ "'" }});"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modal" type="button" onclick="btnCRUD({{ "'" }}{{ path('app_bookcategory_delete', {'id': category.id}) }}{{ "'" }});"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}