<li class="comment">
    <div class="comment-body flex justify-content-between">
        <figure class="comment-author-avatar">
            <img src="{{ asset(comment.user.image) }}" alt="userImg">
        </figure><!-- .comment-author-avatar -->

        <div class="comment-wrap">
            <div class="comment-author flex flex-wrap align-items-center">
                <span class="fn">
                    <a>{{ comment.user.username }}</a>
                </span><!-- .fn -->
                <a>Le {{ comment.date|localizeddate('long', 'none', null, null, '') }} à {{ comment.date|localizeddate('long', 'none', null, null, 'H:m') }}</a>
            </div><!-- .comment-author -->
            <p>{{ comment.content }}</p>
        </div><!-- .comment-wrap -->
    </div><!-- .comment-body -->
</li><!-- .comment -->