{% for label, flashes in app.flashes %}
    {% for flash in flashes  %}
        <div class="alert alert-{{ label }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <ul class="list-unstyled mb-0">
                <li>
                    {% if label == 'success' %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-exclamation-triangle"></i>
                    {% endif %}
                    <span class="form-error-message">{{ flash }}</span>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endfor %}