{% block subject %}Ju' Bouquine - Confirmation création compte{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Salut {{ user.username }} !

        Pour activer ton compte, il te suffit simplement de cliquer juste ici : {{ confirmationUrl }}

        A très bientot,
        Ju'.
    {% endautoescape %}
{% endblock %}